@import url("https://fonts.googleapis.com/css2?family=Lugrasimo&family=Mulish:wght@300;500&display=swap");

:root {
  --color-lightest: #fff4e6;
  --color-light: #ffe8cc;
  --color-medium: #ffa94d;
  --color-dark: #ff922b;
}

body {
  background-color: white;
  color: #042e54;
  font-family: "Mulish", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: grid;
  width: 100%;
  grid-template-areas:
    "head head"
    "nav  main"
    "nav  foot";
  grid-template-rows: 100px auto 50px;
  grid-template-columns: 12.5% 87.5%;
  text-align: center;
}

h3 {
  text-align: center;
  width: 100%;
  font-size: medium;
}

/*  HEADER SECTION  */
.app > header {
  grid-area: head;
  display: flex;
  position: fixed;
  top: 0;
  left: 10px;
  align-items: center;
  background-color: #042e54;
  color: #fff;
}

header h1 {
  text-align: center;
  color: white;
  width: 100%;
  font-size: xx-large;
}
header img {
  width: 152px;
  height: 100px;
}

/*  ASIDE MENU  */
.app > nav {
  grid-area: nav;
  border-right: 1px solid gainsboro;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-left: 3px;
  position: fixed;
  top: 80px;
  left: 3px;
  width: 12.5%;
  height: 100vh;
}
nav button {
  border: none;
  border-bottom: 1px solid #222;
  background-color: white;
  color: #042e54;
  font-size: 1rem;
  text-align: start;
}

nav button:hover {
  background-color: #042e54;
  color: #fff;
}

/* MAIN SECTION*/
.app > main {
  grid-area: main;
  background-color: #ffffff;
  width: 100%;
  padding: 0.8rem;
  margin: 1rem;
}

main ul {
  list-style: none;
  display: flex;

  gap: 6rem;
  font-size: 1.4rem;
}

main li {
  padding: 1.2rem;
  border-radius: 7px;
  transition: 0.5s;
  background-color: var(--color-light);
  border: 1px solid gainsboro;
}

main li:hover {
  background-color: var(--color-medium);
}

/* FOOTER SECTION*/
.app > footer {
  grid-area: foot;
  background-color: var(--color-medium);
  margin: 3px;
  padding: 1rem;
}

footer p {
  line-height: 3rem;
  color: black;
}

/* 
.container {
  display: flex;
  flex-direction: column;
  width: 38vw;
  height: auto;
  border: 1px solid gainsboro;
}

aside ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  font-size: 1.4rem;
  margin-bottom: 2rem;
  width: 100%;
}

aside ul li {
  display: grid;
  grid-template-columns: 4.8rem 1fr auto;
  align-items: center;
  column-gap: 1.6rem;

  padding: 1.2rem;
  border-radius: 7px;
  transition: 0.5s;
}

.selected,
.sidebar li:hover {
  background-color: var(--color-lightest);
}

.sidebar li .button {
  grid-row: span 2;
  grid-column: 3;
} 

.sidebar > .button {
  float: right;
  margin-right: 1.2rem;
}
*/
